{{#partial "contenido"}}
	<form action="/terminales" method="POST">
		
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input type="text" placeholder="Nombre" name="nombre">
		</div>
		
		<div class="form-group">
			<label for="Comuna">Comuna</label>
			<select placeholder="Comuna" name="comuna">
				{{#each comunas}}
				<option value={{nombre}}>{{nombre}}</option>
				{{/each}}
			</select>
		</div>
		
		<table><tr>
		<input class="btn btn-primary btn-lg" type="submit" value="Guardar" style="height:40px; width:100px"></tr>
		<tr><input class="btn btn-default btn-lg" onClick="parent.location='/terminales'" value="Cancelar" style="height:40px; width:110px"></tr>
		</table>
	</form>

{{/partial}}

{{>layoutAdmin.hbs}}