{{#partial "contenido"}}
<h1>POIS</h1>
{{#with poi}}
<form action="/pois/{{id}}/eliminar" method="POST">
		<div>
			<label for="mensaje">Esta seguro de que desea eliminar el POI {{nombre}}?</label>
		</div>
		<table> 
		<tr><input class="btn btn-primary btn-sm" type="submit" value="Aceptar" style="height:40px; width:100px"></tr>
			<tr><input class="btn btn-default btn-sm" onClick="parent.location='/pois'" value="Cancelar" style="height:40px; width:100px"></tr>
		</table>
	</form>
</div>
{{/with}}
{{/partial}}

{{>layoutAdmin.hbs}}
