{{#partial "contenido"}}
	{{#with terminal}}
	<form action="/terminales/{{id}}/modificar" method="POST">
		
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input type="text" value="{{nombre}}" name="nombre">
			
		</div>
		<div class="form-group">
		<label for="Comuna">Comuna</label>
		<select placeholder="Comuna" name="comuna">
			{{#each comunas}}
			<option value={{nombre}}>{{nombre}}</option>
			{{/each}}
		</select>
		</div>
		<table><tr>
		<input class="btn btn-primary " type="submit" value="Guardar" style="height:40px; width:100px"></tr>
		<tr><input class="btn btn-default  " onClick="parent.location='/terminales'" value="Cancelar" style="height:40px; width:110px"></tr>
		</table>
	</form>
	{{/with}}
{{/partial}}

{{>layoutAdmin.hbs}}