{{#partial "contenido"}}
	{{#with terminal}}

	<div class="col-lg-4">
	<form action="/terminales/{{id}}/modificar" method="POST">
		
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input class="form-control" type="text" value="{{nombre}}" id="nombre" name="nombre">
		</div>

		<div class="form-group">
			<label for="comuna">Comuna</label>
			<select class="form-control" placeholder="Comuna" id="comuna" name="comuna">
			{{#each comunas}}
			<option value={{nombre}}>{{nombre}}</option>
			{{/each}}
			</select>
		</div>
		
		<button class="btn btn-primary" type="submit">Guardar</button>
		<a class="btn btn-default" href="/terminales">Cancelar</a>
	  </form>
	  </div>
	
	{{/with}}
{{/partial}}

{{>layoutAdmin.hbs}}