{{#partial "contenido"}}
<div class="container">
<h2>Buscar</h2>

<form action="/terminal/buscar" method="POST">
		
		<div class="form-group">
			<label for="criterio">Criterio de Busqueda</label>
			<input type="text" placeholder="" name="criterio">
		</div>
		
		<input class="btn btn-primary btn-lg" type="submit" value="Buscar">
	</form>
</div>
{{/partial}}

{{>layoutTerminal.hbs}}