{{#partial "contenidoPOI"}}

{{#with poi}}
	<p><strong>Linea:</strong> {{linea}}</p>
	<tr><input class="btn btn-primary btn-lg" onClick="parent.location='/pois'" value="Salir"></tr>
	<div class="container">
{{/with}}
{{/partial}}

{{>admin/verPOILayout.hbs}}