{{#partial "contenido"}}
<h1>POIS</h1>
{{#with poi}}
<form action="/pois/eliminar/a/{{id}}" method="DELETE">
		<div>
			<label for="mensaje">Esta seguro de que desea eliminar el POI {{nombre}}?</label>
		</div>
		<table> 
		<tr><input class="btn btn-primary btn-lg" type="submit" value="Aceptar"></tr>
			<tr><input class="btn btn-primary btn-lg" onClick="parent.location='/pois'" value="Cancelar"></tr>
		</table>
	</form>
</div>
{{/with}}
{{/partial}}

{{>layoutAdmin.hbs}}
